<h1>Insert the form to edit an instance of your model here.</h1>
<center><h1>[<%=@apartment.number%>]</h1></center>
<center><h1>[PERMIT <%=@permit.number%>]</h1></center>

<form action="/permits/<%= @permit.id %>" method="post">
    <input type="hidden" value="patch" name="_method">

        building : 
        <input type="text" name="building" value="<%=@apartment.building%>"><br>
        unit : 
        <input type="text" name="unit" value="<%=@apartment.unit%>"><br>
        ------------------------------------------------------------
        <br>
        permit # : 
        <input type="text" name="number" value="<%=@permit.number%>"><br>
        tenant name :
        <input type="text" name="tenant_name" value="<%=@permit.tenant_name%>"><br>
        contact number : 
        <input type="text" name="contact_number" value="<%=@permit.contact_number%>"><br>
        ------------------------------------------------------------
        <br>
        license plate : 
        <input type="text" name="vehicle_plate" value="<%=@permit.vehicle_plate%>"><br>
        color : 
        <input type="text" name="vehicle_color" value="<%=@permit.vehicle_color%>"><br>
        year : 
        <input type="text" name="vehicle_year" value="<%=@permit.vehicle_year%>"><br>
        make & model : 
        <input type="text" name="vehicle_make_model" value="<%=@permit.vehicle_make_model%>"><br>


    <center>

    <br>
    <input type="submit" value="s u b m i t changes">
</form>

<form action="/permits/<%= @permit.id %>/delete" method="post">
        <input type="hidden" value="delete" name="_method" >
        <input type="submit" value="d e l e t e">
</form>
    </center>
