<div class="heading">
    <h2>[PERMIT INDEX]</h2>
    <h3>(<%=Permit.all.count%>) REGISTRATIONS </h3> 
</div>

<a href="/permits/new" style="float: right;"><button class="mybutton">CreatePermit</button></a>

<br>
<br>




<div class="">

<% @permits.each do |permit| %>
        
<div>

        <a href="/permits/<%= permit.id %>"><button>

            <%= "PERMIT#:#{permit.number}" + " \u2022" %>
            
            <%= "PLATE#:#{permit.vehicle_plate}" + " \u2022" %>

            <%= "#{permit.vehicle_year}" %>

            <%= "#{permit.vehicle_color}"%>

            <%= "#{permit.vehicle_make_model}" + " \u2022" %>

            <% @apartment = Apartment.find(permit.apartment_id) %>
            <%= "#{@apartment.building}-#{@apartment.unit}" + " \u2022" %>
            
            <%= "#{permit.tenant_name}" + " \u2022" %> 


        </button></a>

</div>


<% end %>

</div>