<div class="heading">
    <h2>[PERMIT INDEX]</h2>
    <h3>(<%=Permit.all.count%>) REGISTRATIONS </h3> 
</div>

<a href="/permits/new" style="float: right;"><button>CreatePermit</button></a>

<br>
<br>




<div class="flex-container">

<% @permits.each do |permit| %>
        
<div>

        <a href="/permits/<%= permit.id %>">
            <% @apartment = Apartment.find(permit.apartment_id) %>
            <%= "#{@apartment.building} - #{@apartment.unit}" %>
            <br><%= "#{permit.tenant_name}" %>
            <br> p e r m i t # : <%= permit.number %>
        </a><br>

        <a href="/permits/<%= permit.id %>/edit"><button>E D I T</button></a>


        <form action="/permits/<%= permit.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
        </form>
        <br>

</div>


<% end %>

</div>