<div class="heading">
    <h2>[APARTMENT INDEX]</h2>
    <h3>(<%=Permit.all.count%>) REGISTRATIONS </h3> 
</div>


<a href="/apartments/new" style="float: right;"><button class="mybutton">CreateApartment</button></a>
<a href="/printer_friendly_index_apartment" style="float: left;"><button class="mybutton">PRINTER FRIENDLY PAGE</button></a>
<br>
<br>

<center>

<div class="flex-container">


<% @apartments.each do |apartment| %>
        
    <div>

        <a href="/apartments/<%= apartment.id %>">
            <%= "#{apartment.building} - #{apartment.unit}" %>
        </a>

    </div>
    <div>
        <a href="/apartments/<%= apartment.id %>/edit"><button>E D I T</button></a>
    </div>
    <div>
        <form action="/apartments/<%= apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
        </form>
    </div>

<% end %>

</div>

</center>