<center><h1>[APARTMENT <%=@apartment.number%> SHOW PAGE]</h1>


BUILDING: 
<br><%= "#{@apartment.building}" %><br>

UNIT: 
<br><%= "#{@apartment.unit}" %><br>

---------------------------------------------------------------
<br>
<a href="/apartments/<%= @apartment.id %>/edit"><button>E D I T</button></a>

<form action="/apartments/<%= @apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
</form>


</center>