<div class="apartment_show_header">
      <center><h1>[APARTMENT <%=@apartment.building%> - <%=@apartment.unit%>]</h1></center>
</div>

<p align="right"><a href="/permits/new"><button class="mybutton">NEW REGISTRATION</button></a></p>


<div class="apartment-permit-heading">
      B U I L D I N G : 
      <u><%= "#{@apartment.building}" %></u>
      <br>
      U N I T :  
      <u><%= "#{@apartment.unit}" %></u>
      
</div>


<div class="apartment-permit-container">
        <% if @ps.length > 0 %>
            
            <% @ps.each do |p| %>

      <div>
                <center><h3><a href="/permits/<%= p.id %>">                  
                → PERMIT:<%= p.number %></a></h3></center>

                  <center><h2>LEASEHOLDER</h2></center>

                <b>NAME:</b>
                <u><%= p.tenant_name %></u>
                <br>
                <b>CONTACT:</b>
                <u><%= p.contact_number %></u>
                <br><br>

                  <center><h2>VEHICLE</h2></center>

                <b>PLATE:</b>
                <u><%= p.vehicle_plate %></u>
                <br>
                <b>YEAR:</b>
                <u><%= p.vehicle_year %></u>
                <br>
                <b>COLOR:</b>
                <u><%= p.vehicle_color %></u>
                <br>
                <b>MAKE&MODEL:</b>
                <u><%= p.vehicle_make_model %></u>

                  
                 

      </div>
                


            <% end %>
        <% else %>
                  <div>
                  <center>
---------------------------------------------------------------<br>  
                <%= "no permits registered" %><br>
---------------------------------------------------------------<br>
                  </center>
                  </div>
        <% end %>
</div>


<br>
<a href="/apartments/<%= @apartment.id %>/edit"><button class="mybutton">E D I T apartment</button></a>

<br>
<br>

<form action="/apartments/<%= @apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e apartment" class="mydeletebutton">
</form>


