<center><h1>[APARTMENT <%=@apartment.number%> SHOW PAGE]</h1>


BUILDING: 
<br><%= "#{@apartment.building}" %><br>

UNIT: 
<br><%= "#{@apartment.unit}" %><br>


---------------------------------------------------------------<br>
        <% if @ps.length > 0 %>
            
            <% @ps.each do |p| %>
                <a href="/permits/<%= p.id %>">

                permit # : <%= p.number %><br>
                </a>
                tenant name : <%= p.tenant_name %><br>
                contact : <%= p.contact_number %><br>
                
---------------------------------------------------------------<br>   
            <% end %>
        <% end %>

<a href="/apartments/<%= @apartment.id %>/edit"><button>E D I T</button></a>

<form action="/apartments/<%= @apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e">
</form>


</center>