<div class="heading">
<h1>[APARTMENT <%=@apartment.building%> - <%=@apartment.unit%>]</h1>
</div>

<center>
B U I L D I N G : 
<%= "#{@apartment.building}" %>
<br>
U N I T :  
<%= "#{@apartment.unit}" %><br>


---------------------------------------------------------------<br>
        <% if @ps.length > 0 %>
            
            <% @ps.each do |p| %>
                <a href="/permits/<%= p.id %>">

                permit # : <%= p.number %><br>
                </a>
                tenant name : <%= p.tenant_name %><br>
                contact : <%= p.contact_number %><br>
                
---------------------------------------------------------------<br>   
            <% end %>
        <% else %>
                <%= "no permits registered" %><br>
---------------------------------------------------------------<br>   
        <% end %>

<a href="/apartments/<%= @apartment.id %>/edit"><button>E D I T apartment</button></a>

<form action="/apartments/<%= @apartment.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="d e l e t e apartment">
</form>


</center>